body {
    margin: 0px;
}

#menu {
    background-color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 666; 
}

.menu_item {
    text-decoration: none;
    color: #F60;
    border-right: 1px solid;
    padding: 0 5px 0 5px;
}

.message_menu {
    float: right;
}

#messages ol li.messageAnon .name {
    background: #0f0;
}
